automation/subscription-lifecycle-automation.json
{
  "name": "Subscription Lifecycle (New + Churn)",
  "nodes": [
    {
      "id": "sticky-readme",
      "name": "READ ME BEFORE ACTIVATING",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-260, -280],
      "parameters": {
        "width": 640,
        "height": 340,
        "content": "## Before you activate this workflow\n\n1. In Gmail: create a filter on `from:receipt@trainingpeaks.com` that applies a label (e.g. `TP-Subscriptions`) AND checks 'Skip the Inbox (Archive it)'. This is required -- without it, this workflow's IMAP poller and the CoachMatch workflow's poller both watch the inbox and will race on the \\Seen flag, silently dropping emails at random.\n2. Enable 'Show in IMAP' for that label under Gmail Settings -> Labels.\n3. Set the 'Email Trigger (IMAP)' node's mailbox parameter to that label's IMAP folder name (usually just the label name).\n4. Reuse the same 'IMAP account' and 'Twenty API' credentials as the other workflows.\n5. `customerType` (ALL_ACCESS/PLAN_BUYER/1_1_COACHING), `leadSource` (added WEBSITE + ALL_ACCESS_SUBSCRIPTION), and `leadStatus` are all confirmed real enum values as of July 2026 (see ai-infrastructure-documentation.md). `preferredLanguage: ENGLISH` is still NOT confirmed (only SPANISH/PORTUGUESE have been seen in a real API response) -- verify on the first real English-subscriber test and fix if Twenty rejects it.\n6. Members-area token revocation on churn is a placeholder (see the sticky note near 'Mark Churned in Twenty') -- the auth/token system isn't built yet.\n7. Test with 'Listen for Test Event' before switching this Active."
      }
    },
    {
      "id": "email-trigger",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [-260, 120],
      "parameters": {
        "mailbox": "TP-Subscriptions",
        "options": {}
      },
      "credentials": {
        "imap": { "id": "xG2Iu8qvkR9XVFuA", "name": "IMAP account" }
      }
    },
    {
      "id": "filter-is-new",
      "name": "Filter - Is New Subscription",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [0, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "f1",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "New subscription confirmation",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "filter-is-churn",
      "name": "Filter - Is Churn Confirmed",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [0, 260],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "f2",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Subscription cancellation",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "parse-new-sub",
      "name": "Parse New Subscription Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "// Parses the \"New subscription confirmation\" email from receipt@trainingpeaks.com\nconst results = [];\n\nfor (const item of $input.all()) {\n  // Collapse all whitespace/line-wraps so multi-line fields become single-line before matching\n  const flat = (item.json.textPlain || '').replace(/\\s+/g, ' ').trim();\n\n  const nameEmail = flat.match(/Customer Name:\\s*([^(]+?)\\s*\\(([^)]+)\\)/i);\n  const subMatch = flat.match(/Subscription:\\s*([\\s\\S]+?)\\s-\\s\\$/);\n  const invoiceMatch = flat.match(/Invoice Number:\\s*(\\S+)/i);\n  const amountMatch = flat.match(/Amount Charged:\\s*\\$([\\d.,]+)/i);\n\n  const fullName = nameEmail ? nameEmail[1].trim() : '';\n  const nameParts = fullName.split(/\\s+/);\n  const lastname = nameParts.pop() || '';\n  const firstname = nameParts.join(' ');\n\n  results.push({\n    json: {\n      firstname,\n      lastname,\n      email: nameEmail ? nameEmail[2].trim() : '',\n      subscription_name: subMatch ? subMatch[1].trim() : '',\n      invoice_number: invoiceMatch ? invoiceMatch[1] : '',\n      amount_charged: amountMatch ? amountMatch[1] : '',\n      source_subject: item.json.subject,\n      source_date: item.json.date,\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "map-new-sub-fields",
      "name": "Map Language + Build Twenty Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "jsCode": "// Detects which All-Access product (ES/EN/PT) this is from the confirmed real\n// product names in TP Payments (see triaperformance-pricing-and-positioning.md).\n// Falls back to null + a flag if the product name doesn't match any known one\n// (e.g. if the EN product ever gets renamed -- it's the only renameable one).\n\nfunction detectLanguage(subscriptionName) {\n  const s = (subscriptionName || '').toLowerCase();\n  if (s.includes('suscripci') && s.includes('triaperformance')) return 'SPANISH';\n  if (s.includes('full access')) return 'ENGLISH';\n  if (s.includes('acesso total')) return 'PORTUGUESE';\n  return null;\n}\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const d = item.json;\n  const preferredLanguage = detectLanguage(d.subscription_name);\n\n  results.push({\n    json: {\n      firstname: d.firstname,\n      lastname: d.lastname,\n      email: d.email,\n      subscription_name: d.subscription_name,\n      invoice_number: d.invoice_number,\n      amount_charged: d.amount_charged,\n      preferredLanguage, // null if unrecognized -- check Telegram alert if so\n      language_unrecognized: preferredLanguage === null,\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "check-existing-new",
      "name": "Check Existing Person (New Sub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, 0],
      "parameters": {
        "method": "GET",
        "url": "http://100.70.89.17:3000/rest/people",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filter", "value": "=emails.primaryEmail[eq]:{{ $json.email }}" }
          ]
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "JHN5QPZo087TvBnD", "name": "Twenty API" }
      }
    },
    {
      "id": "person-exists-new",
      "name": "Person Exists? (New Sub)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [880, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "p1",
              "leftValue": "={{ $json.data && $json.data.people && $json.data.people.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "update-existing-subscriber",
      "name": "Update Person (Existing Subscriber)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1100, -100],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'http://100.70.89.17:3000/rest/people/' + $json.data.people[0].id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customerType: 'ALL_ACCESS', leadStatus: 'WON_CUSTOMER', purchaseDate: new Date().toISOString(), planPurchased: $('Map Language + Build Twenty Fields').item.json.subscription_name, preferredLanguage: $('Map Language + Build Twenty Fields').item.json.preferredLanguage, churnDate: null }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "JHN5QPZo087TvBnD", "name": "Twenty API" }
      }
    },
    {
      "id": "create-new-subscriber",
      "name": "Create Person (New Subscriber)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1100, 100],
      "parameters": {
        "method": "POST",
        "url": "http://100.70.89.17:3000/rest/people",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: { firstName: $('Map Language + Build Twenty Fields').item.json.firstname, lastName: $('Map Language + Build Twenty Fields').item.json.lastname || '-' }, emails: { primaryEmail: $('Map Language + Build Twenty Fields').item.json.email }, customerType: 'ALL_ACCESS', leadStatus: 'WON_CUSTOMER', leadSource: 'OTHER', purchaseDate: new Date().toISOString(), planPurchased: $('Map Language + Build Twenty Fields').item.json.subscription_name, preferredLanguage: $('Map Language + Build Twenty Fields').item.json.preferredLanguage }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "JHN5QPZo087TvBnD", "name": "Twenty API" }
      }
    },
    {
      "id": "subscriber-upserted",
      "name": "Subscriber Upserted",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "personId", "type": "string", "value": "={{ $json.data.updatePerson ? $json.data.updatePerson.id : $json.data.createPerson.id }}" }
          ]
        }
      }
    },
    {
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1540, -100],
      "parameters": {
        "fromEmail": "coach@triaperformance.com",
        "toEmail": "={{ $('Map Language + Build Twenty Fields').item.json.email }}",
        "subject": "={{ $('Map Language + Build Twenty Fields').item.json.firstname }}, bienvenido/a a All-Access",
        "emailFormat": "text",
        "text": "=NOTE: placeholder copy -- rewrite per language once EN/PT welcome copy exists, and add the members-area link + credentials paragraph once that system is built (task: password-gated members area).\n\nHola {{ $('Map Language + Build Twenty Fields').item.json.firstname }},\n\nGracias por suscribirte a All-Access. Este correo va a incluir pronto: instrucciones para aplicar cualquiera de los planes a tu cuenta de TrainingPeaks, los links a las guias incluidas, y el acceso al area de miembros.\n\nIvan Koch - Triaperformance",
        "options": {}
      },
      "credentials": {
        "smtp": { "id": "et4mFjLL6HLiYOoR", "name": "SMTP account" }
      }
    },
    {
      "id": "telegram-notify-new",
      "name": "Telegram Notify New Subscriber",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 100],
      "parameters": {
        "chatId": "5952194741",
        "text": "=🎉 Nueva suscripción All-Access\nNombre: {{ $('Map Language + Build Twenty Fields').item.json.firstname }} {{ $('Map Language + Build Twenty Fields').item.json.lastname }}\nEmail: {{ $('Map Language + Build Twenty Fields').item.json.email }}\nProducto: {{ $('Map Language + Build Twenty Fields').item.json.subscription_name }}\nIdioma detectado: {{ $('Map Language + Build Twenty Fields').item.json.preferredLanguage || 'NO RECONOCIDO -- revisar' }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "dmG5jqW0zOMQXhUD", "name": "Hermes Bot" }
      }
    },
    {
      "id": "parse-churn",
      "name": "Parse Churn Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 260],
      "parameters": {
        "jsCode": "// Parses the \"Subscription cancellation\" (confirmed, not \"scheduled\") email\nconst results = [];\n\nfor (const item of $input.all()) {\n  const flat = (item.json.textPlain || '').replace(/\\s+/g, ' ').trim();\n\n  const m = flat.match(/that\\s+(.+?)'s\\s*\\(([^)]+)\\)\\s+subscription to\\s+(.+?)\\s+has been cancelled/i);\n\n  const fullName = m ? m[1].trim() : '';\n  const nameParts = fullName.split(/\\s+/);\n  const lastname = nameParts.pop() || '';\n  const firstname = nameParts.join(' ');\n\n  results.push({\n    json: {\n      firstname,\n      lastname,\n      email: m ? m[2].trim() : '',\n      subscription_name: m ? m[3].trim() : '',\n      source_subject: item.json.subject,\n      source_date: item.json.date,\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "find-person-churn",
      "name": "Find Person by Email (Churn)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [440, 260],
      "parameters": {
        "method": "GET",
        "url": "http://100.70.89.17:3000/rest/people",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filter", "value": "=emails.primaryEmail[eq]:{{ $json.email }}" }
          ]
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "JHN5QPZo087TvBnD", "name": "Twenty API" }
      }
    },
    {
      "id": "person-found-churn",
      "name": "Person Found? (Churn)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [660, 260],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.data && $json.data.people && $json.data.people.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "sticky-token-todo",
      "name": "TODO -- token revocation not built yet",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [860, 380],
      "parameters": {
        "width": 380,
        "height": 180,
        "content": "Once the members-area auth/token system exists (see task: password-gated members area), add a step here that revokes this person's token so their members-area access actually stops. Right now this only updates Twenty's churnDate -- it does not touch any access control yet."
      }
    },
    {
      "id": "mark-churned",
      "name": "Mark Churned in Twenty",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [880, 260],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'http://100.70.89.17:3000/rest/people/' + $json.data.people[0].id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ churnDate: new Date().toISOString() }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": { "id": "JHN5QPZo087TvBnD", "name": "Twenty API" }
      }
    },
    {
      "id": "telegram-notify-churn",
      "name": "Telegram Notify Churn",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 220],
      "parameters": {
        "chatId": "5952194741",
        "text": "=📉 Cancelacion confirmada\nNombre: {{ $('Parse Churn Email').item.json.firstname }} {{ $('Parse Churn Email').item.json.lastname }}\nEmail: {{ $('Parse Churn Email').item.json.email }}\nProducto: {{ $('Parse Churn Email').item.json.subscription_name }}\n\n(Recordatorio: revocar acceso al area de miembros manualmente hasta que el sistema de tokens este listo)",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "dmG5jqW0zOMQXhUD", "name": "Hermes Bot" }
      }
    },
    {
      "id": "telegram-alert-unmatched",
      "name": "Telegram Alert - Churn Unmatched",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 460],
      "parameters": {
        "chatId": "5952194741",
        "text": "=⚠️ Email de cancelacion recibido pero no se encontro la Person en Twenty.\nEmail: {{ $('Parse Churn Email').item.json.email }}\nNombre: {{ $('Parse Churn Email').item.json.firstname }} {{ $('Parse Churn Email').item.json.lastname }}\nRevisar manualmente.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "dmG5jqW0zOMQXhUD", "name": "Hermes Bot" }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          { "node": "Filter - Is New Subscription", "type": "main", "index": 0 },
          { "node": "Filter - Is Churn Confirmed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter - Is New Subscription": {
      "main": [[{ "node": "Parse New Subscription Email", "type": "main", "index": 0 }]]
    },
    "Parse New Subscription Email": {
      "main": [[{ "node": "Map Language + Build Twenty Fields", "type": "main", "index": 0 }]]
    },
    "Map Language + Build Twenty Fields": {
      "main": [[{ "node": "Check Existing Person (New Sub)", "type": "main", "index": 0 }]]
    },
    "Check Existing Person (New Sub)": {
      "main": [[{ "node": "Person Exists? (New Sub)", "type": "main", "index": 0 }]]
    },
    "Person Exists? (New Sub)": {
      "main": [
        [{ "node": "Update Person (Existing Subscriber)", "type": "main", "index": 0 }],
        [{ "node": "Create Person (New Subscriber)", "type": "main", "index": 0 }]
      ]
    },
    "Update Person (Existing Subscriber)": {
      "main": [[{ "node": "Subscriber Upserted", "type": "main", "index": 0 }]]
    },
    "Create Person (New Subscriber)": {
      "main": [[{ "node": "Subscriber Upserted", "type": "main", "index": 0 }]]
    },
    "Subscriber Upserted": {
      "main": [
        [
          { "node": "Send Welcome Email", "type": "main", "index": 0 },
          { "node": "Telegram Notify New Subscriber", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter - Is Churn Confirmed": {
      "main": [[{ "node": "Parse Churn Email", "type": "main", "index": 0 }]]
    },
    "Parse Churn Email": {
      "main": [[{ "node": "Find Person by Email (Churn)", "type": "main", "index": 0 }]]
    },
    "Find Person by Email (Churn)": {
      "main": [[{ "node": "Person Found? (Churn)", "type": "main", "index": 0 }]]
    },
    "Person Found? (Churn)": {
      "main": [
        [{ "node": "Mark Churned in Twenty", "type": "main", "index": 0 }],
        [{ "node": "Telegram Alert - Churn Unmatched", "type": "main", "index": 0 }]
      ]
    },
    "Mark Churned in Twenty": {
      "main": [[{ "node": "Telegram Notify Churn", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
